<div class="instructor_block">
  <ion-grid>
      <ion-row>
          <ion-col col-12 col-sm-6>
              <div class="instructor_avatar" >
                <img   src="assets/img/avatar.jpeg"  >
              </div>
          </ion-col>
          <ion-col col-12 col-sm-6 #featured >
              <ion-card-content class="align-left">
                  <ion-card-title >
                     José Soledispa
                  </ion-card-title>
               
                  <star-rating [rating]="4" align-right></star-rating>
                  <div class="instructor_bio" >
                  <div >asdasdasdasdasdasd</div>

                  </div>
                  <ion-grid>
          <ion-row>
            <ion-col >
              <ion-icon name="people"></ion-icon>
              <strong>2323</strong>
            </ion-col>
            <ion-col >
              <ion-icon name="book"></ion-icon>
              <strong>23</strong>
            </ion-col>
          </ion-row>
        </ion-grid>
              </ion-card-content>
          </ion-col>
      </ion-row>
  </ion-grid>
</div>
