<ion-header class="Header" no-shadow no-border>
  <ion-toolbar  color="trasnparent" no-border>
    <ion-title>Cuestionario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
        <ion-col  class="NumerosPreguntas">
          <div class="ItemDiv2" >
            <h2 >Puntución</h2>
             <p >{{ NumeroPreguntasCorrectas }}/{{ TotalPreguntas }}</p>
          </div>
      </ion-col>
        <ion-col  class="NumerosPreguntas">
            <div class="ItemDiv2" *ngIf="Preguntas && Preguntas.Id_PreguntaQuiz <= TotalPreguntas" >
              <h2 >Pregunta</h2>
               <p >{{ Preguntas.Id_PreguntaQuiz }} de {{ TotalPreguntas }}</p>
            </div>
        </ion-col>
        <ion-col class="Tiempo" >
          <div class="ItemDiv2" >
            <h2 >Tiempo:</h2>
            <div class="ItemDiv1">
              <h2 >{{ Tiempo}}</h2>
            </div>
          </div>
          
        </ion-col>
    </ion-row>
</ion-grid>
  <div >
    <div class="Div1">
      <h2 id="question" >
        {{ Preguntas.Pregunta }}
      </h2>
    </div>
  </div>
  <formulario-quiz [Preguntas]="Preguntas"></formulario-quiz>
  <progress-bar [progress]="progressValue" >
  </progress-bar>
</ion-content>
