.Div1{
    margin: auto;
    width: 90%;
    height: 100px;
    border-radius: 24px;
    background: transparent;
    /* Note: currently only Safari supports backdrop-filter */
    backdrop-filter: blur(30px);
    --webkit-backdrop-filter: blur(30px);
    background-color:  #fd7e77;
    /* (plus shape's fill blended on top as a separate layer with 50% opacity) */
    h2{
        font-family: Poppins;
        font-weight: 600;
        font-size: 15px;
        letter-spacing: 0.02em;
        line-height: 25px;
        text-align: center;
        color: rgb(7, 7, 7);margin-bottom: 0px;
        border-top-width: 20px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 0%;
    }
}

.Tiempo{
    .ItemDiv2{
       
        background: transparent;
        h2{
            font-family: Poppins;
            font-weight: bold;
            font-size: 11px;
            line-height: 16px;
            text-align: center;
            color: #fd7e77; margin-top: 0px;
            margin-bottom: 0px;
        }
        .ItemDiv1{
            width: 47px;
            height: 47px;
            border-radius: 23.5px;
            background: #fd7e77;
            box-shadow: 0px 8px 15px #e7eaf0;
            margin: auto;
            h2{
                margin-top: 15px;
                margin-bottom: 0px; 
                font-family: Poppins;
                font-weight: 600;
                font-size: 14px;
                line-height: 16px;
                text-align: center;
                color: #fff;padding-top: 15px;
            }
        }
    }

}
.NumerosPreguntas{
    .ItemDiv2{
        margin-top: 30%;
        
        background: transparent;
        h2{
            font-family: Poppins;
            font-weight: bold;
            font-size: 20px;
            line-height: 16px;
            text-align: center;
            color: #fd7e77; margin-top: 0px;
            margin-bottom: 0px;
        }
        p{
           
             font-family: Poppins;
             font-weight: normal;
             font-size: 15px;
             line-height: 16px;
             text-align: center;
             color: #515c6f;margin-top: 10px;
             margin-bottom: 0px;
        }
    }

}
