<ion-content class="custom-bacgroud1 otherbkg" >
  <div class="theme-bg"></div>
  <div class="otherbkg">
    <div style="display: flex;">
      
      <img style="margin: auto; position: relative;
      width: 200px; top: 0.5em; " src="../../assets/imgs/Perfil/rc_logo.png" alt="">
    </div>
    <form [formGroup]="onLoginForm" class="form-background">
      
      <ion-item>
        <ion-input [(ngModel)]="data.Correo" placeholder="Usuario o Correo "type="email" formControlName="email" >
          <ion-icon slot="start" name="mail"></ion-icon>
        </ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.email" align="center" class="alert-danger">
        <p ion-text class="text08" *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
          <ion-text color="warning">
            {{error.message}}
          </ion-text>
        </p>
      </div>
      
      <ion-item>
        
        <ion-input [(ngModel)]="data.Clave" placeholder="Contraseña" type="password" formControlName="password">
          <ion-icon slot="start" name="lock-closed"></ion-icon>
        </ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.password" align="center" class="alert-danger">
        <p ion-text class="text08" *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
          <ion-text color="warning">
            {{error.message}}
          </ion-text>
        </p>
      </div>
     
      <ion-button class="button-login" expand="full"  (click)="goToHome()" [disabled]="!onLoginForm.valid">Ingresar</ion-button>
      <div class="login-ou">
        <hr>
        <p>o</p>
        <hr>
      </div>
      <ion-button class="button-login" expand="full" (click)="goToRegister()">Registrar</ion-button>
      <ion-grid class="btn-group">
        <ion-row>
          <ion-col size="4">
            <ion-button (click)="doFbLogin()" shape="round" expand="full" color="primary">
              <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button shape="round" expand="full" color="secondary">
              <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button shape="round" expand="full" color="danger">
              <ion-icon slot="icon-only" name="logo-google"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
