
ion-list-header{
    background-color: #f18c8e;
    .fw700{
        font-family: Lato;
		  font-weight: bold;
		  font-size: 15px;
		  line-height: 22px;
		  text-align: center;
		  color: #305f72;
    }
}
ion-list{
    padding-top: 0px;
    padding-bottom: 0px;
}
.Titulo{
    font-family: Lato;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    text-align: left;
    color: #305f72;
    

  }
  
      
  .Description{
  letter-spacing: 0.4px;
    font-family: Lato;
    font-weight: 300;
    font-size: 12px;
    line-height: 22px;
    text-align: left;
    color: #f18c8e;
   

}